Source: semodule-utils
Vcs-Git: https://salsa.debian.org/selinux-team/semodule-utils.git
Vcs-Browser: https://salsa.debian.org/selinux-team/semodule-utils
Priority: optional
Section: devel
Maintainer: Debian SELinux maintainers <selinux-devel@lists.alioth.debian.org>
Uploaders: Laurent Bigonville <bigon@debian.org>,
           Russell Coker <russell@coker.com.au>
Standards-Version: 4.6.2
Build-Depends: debhelper-compat (= 13), libsepol-dev (>= 3.5),
Homepage: http://userspace.selinuxproject.org/
Rules-Requires-Root: no

Package: semodule-utils
Architecture: linux-any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: SELinux core policy utilities (modules utilities)
 Security-enhanced Linux is a patch of the Linux® kernel and a number
 of utilities with enhanced security functionality designed to add
 mandatory access controls to Linux.  The Security-enhanced Linux
 kernel contains new architectural components originally developed to
 improve the security of the Flask operating system. These
 architectural components provide general support for the enforcement
 of many kinds of mandatory access control policies, including those
 based on the concepts of Type Enforcement®, Role-based Access Control,
 and Multi-level Security.
 .
 This package contains the tools used to build policy modules in an SELinux
 environment.
